<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layaout"
      layout:decorate="~{layout}"> 


    <body layout:fragment="body">

        <h1>Lista de Inmueble</h1>


        
        <br>
        <div class="container-fluid">
            <table class="table table-hover  table table-sm table table-borderless">
                <thead class="table-light">
                    <tr>
                        
                        
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">TipoInmueble</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Moneda</th>
                        <th scope="col">Antiguedad</th>
                        <th scope="col">NumeroRecamaras</th>
                        <th scope="col">NumeroBaños</th>
                        <th scope="col">NumeroEstacionamientos</th>
                        <th scope="col">Superficie</th>
                        <th scope="col">Unidad</th>
                        <th scope="col">Latitud</th>
                        <th scope="col">Longitud</th>
                        <th scope="col">Imagen</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="inmueble : ${inmuebles}">
                       
                     
                        <td th:text="${inmueble.nombre}"></td>
                        <td th:text="${inmueble.descripcion}"></td>
                        <td th:text="${inmueble.tipoinmueble.nombre}"></td>
                        <td th:text="${inmueble.precio}"></td>
                        <td th:text="${inmueble.moneda.nombre}"></td>
                        <td th:text="${inmueble.antiguedad.nombre}"></td>
                        <td th:text="${inmueble.numerorecamaras}"></td>
                        <td th:text="${inmueble.numerobaños}"></td>
                        <td th:text="${inmueble.numeroestacionamientos}"></td>
                        <td th:text="${inmueble.superficie}"></td>
                        <td th:text="${inmueble.unidad.nombre}"></td>
                        <td th:text="${inmueble.latitud}"></td>
                        <td th:text="${inmueble.longitud}"></td>
                        <td th:text="${inmueble.imagen}"></td>
                        
                        
                        
                        
                        
                        

                    </tr>

                </tbody>
            </table>

        </div>

    </body>
</html>